global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice
    maxconn 4096

defaults
    log     global
    retries 2
    timeout connect 5000
    timeout server 50000
    timeout client 50000

listen  stats
    bind *:1936
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /

listen rabbitmq
    bind   *:5672
    mode tcp
    option tcpka
    option redispatch
    balance roundrobin
    server rabbitmq1 rabbitmq1:5672 check
    server rabbitmq2 rabbitmq2:5672 check

listen rabbitmq-ui
    bind   *:15672
    mode   http
    server rabbitmq1 rabbitmq1:15672 check
    server rabbitmq2 rabbitmq2:15672 check
